<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p v-text="message"></p> -->
    <div class="miclase" v-html="htmlCard">
        aqui
    </div>
    <img width="300" :src="portada" v-bind:alt="descripcion" />

    <button v-on:click="lanzarAlerta">Directiva ON</button>

    <br />
    <input type="number" v-model="bidireccional" />
    <b>
        <p>{{ sumadoDos }}</p>
    </b>


    <br />
    <br />
    <input v-model="searchText" />
    <input v-bind:value="searchText" v-on:input="searchText = $event.target.value" />
    <!-- }); -->
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "Nuevo mensaje",

                htmlCard: `<div class="card black white-text">
                    <img width="200" src="images/pexels-yura-forrat-12507127.jpg"></div>`,

                portada: "images/pexels-josh-hild-12373451.jpg",
                descripcion: "Biopic de Steve Jobs basada en su libro biográfico.",

                alertMsg: "mensaje de alerta",
                bidireccional: 0,
                searchText: "",
            },
            methods: {
                lanzarAlerta() {
                    alert(this.alertMsg);
                },
            },
            computed: {
                sumadoDos() {
                    return parseInt(this.bidireccional) + 2
                }
            }
        });
    </script>
</body>

</html>