<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Clase 03</title>
</head>
<body>
    <div id="app">
        <button @click="login" v-show="!logged">Loguearse</button>
        <button @click="logout" v-show="logged">Desloguearse</button>
        <p v-if="logged">Esta logeado!</p>
        <p v-else>Loguese!</p>
    </div>

<script>
    var app = new Vue ({
        el: '#app',
        data: {
            logged: true,
        },
        methods:{
            logout: function(){
                this.logged = false;
            },
            login: function(){
                this.logged = true;
            },
        }
    })
    // v-show --> lo mismo que v-if pero oculta el html.
</script>
</body>
</html>
