<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />


<div id="app">
    <ul class="list-group">
      <li class="list-group-item" v-for="(item, i) in tareas" :key="i">
        {{ item.id }} - {{ item.desc }}
      </li>
    </ul>
  </div>


<script>
    var app = new Vue({
      el: "#app",
      data: {
        tareas: [
          { id: 1, desc: "Revisar hardware faltante" },
          { id: 2, desc: "Validar user testing" },
          { id: 3, desc: "Verificar versión del S.O." },
          { id: 4, desc: "Instalar S.O. en SD-Card" },
          { id: 5, desc: "Realizar downgrade de S.O." },
          { id: 6, desc: "Instalar Office beta" },
        ]
      },
    });
  </script>
