
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      Alumno: {{ estudiante.nombre }}
      <br />
      Gato: {{ gato }}
      <br />
      Resultado: {{ estaAprobado() }}
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          estudiante: {
            nombre: "Fulano",
            edad: 23,
            nota: 8,
          },
          gato: "Juancho",
          dinero: 90,
        },
        methods: {
          estaAprobado() {
            if (this.estudiante.nota > 7) {
              return "Aprobado";
            }
            return "Desaprobado";
          },
        },
        computed: {
          estaAprobado() {
            this.estudiante;
          },
        },
      });
    </script>
  </body>
</html>
