<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Desafio-4-7-2022</title>

    <!-- Bootstrap CSS -->
    <!-- <link r    el="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div id="app">
        <div id="container">
            <button v-on:click="down" type="button" class="btn btn-info">DOWN</button>
            <button v-on:click="up" type="button" class="btn btn-info">UP</button>
            <p> Resultado: {{value}}</p>
        </div>
    </div>

    <style>
        #container {
            width: 30hv;
        }

        #app,
        p {
            margin: 20%;
            display: flex;
            justify-content: center;
            font-size: medium;
            font-weight: 500;
        }
    </style>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                value: 0,
            },
            methods: {
                up() {
                    return this.value = this.value + 1
                },
                down() {
                    if (this.value > 0) return this.value = this.value - 1
                    else return this.value=0;
                }
            },
        });
    </script>
</body>

</html>